{% extends 'base.html.twig' %}

{% block title %}Hello DjController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>This friendly message is coming from:</p>
    <ul>
        <li>Your controller at <code>src/Controller/DjController.php</code></li>
        <li>Your template at <code>templates/dj/index.html.twig</code></li>
    </ul>

    <p>Welcome to your DJ application! 🎧</p>
</div>
{% endblock %}
